<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Brad Claringbold, from Barrie Ontario is completeing his diploma as a Computer Programmer / Analyst at Georgian College. </p>
    
    <p>Brad has created and collaborated on many projects including proprietary logistical software and custom database programming.</p>

<%- include partials/footer.ejs %>

