<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Brad Claringbold <br />
    <a href=mailto:bclaringbold@gmail.com>bclaringbold@gmail.com</a>
    </p>

<% include partials/boot.ejs %>
<%- include partials/footer.ejs %>

