<%- include partials/header.ejs %>


<h1><%= title %></h1>

<p>Always understanding customer needs and the entire business picture, by including the right stakeholders and asking the crucial questions related to individual business needs.</p>

<%- include partials/footer.ejs %>

