<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>This site was created using <a href="http://nodejs.org" title="Node.js">Node.js</a>, the <a href="http://expressjs.com" title="Express">Express.js framework</a>, <a href="http://getbootstap.com" title="Bootstrap">Twitter Bootstrap</a>, and the <a href="http://www.embeddedjs.com" title="EJS">EJS Template System</a>.</p>  
        
<p>Continuous deployment is done via <a href="http://github.com" title="GitHub">GitHub</a> and <a href="http://heroku.com" title="Heroku">Heroku</a>.</p>

<%- include partials/footer.ejs %>

