<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>
        <ul>  
            <li>Website Programming - Javascript, CSS, Node.JS, HTML, PHP, Perl</li>
            <li>Database intergration and analytics - Oracle, MYSQL, Access, Cognos, Crystal Reporting, MongoDB</li>
            <li>Mobile friendly website design and creation</li>
            <li>Domain Registration and Management</li>
            <li>Web hosting</li>
            <li>Website Administration – Apache, IIS</li>
            <li>Content Management System Administrator – WordPress</li>
        </ul>

</p>

<% include partials/boot.ejs %>
<%- include partials/footer.ejs %>

